* {
    font-family: 'Lora', serif;
    color: black;
}

body {
    background-color: WhiteSmoke;
    text-align: center;
    font-size: 25px;
}

input {
    background-color: white;
    width: 222px;
    height: 30px;
    font-size: 15px;
}

button {
    background-color: white;
    width: 230px;
    height: 30px;
    font-size: 15px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
    border: none;
    }

