<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Горыныч</title>
</head>
<body>
    <h3>{% for i in game.deck %}
        {{ i }}
    {% endfor %}
    </h3>
    <p>Слова игрока({{ game.players_word_list|length }}):</p>
    {% for i in game.players_word_list %}
        {% if i in game.words_without_repeating_user and i in game.words_without_repeating_comp %}
            <b><a href="https://gramota.ru/poisk?query={{ i|title }}&mode=slovari&dicts[]=42" target="_blank" style="color: #4285B4">{{ i }}</a></b>
        {% elif i in game.words_without_repeating_user %}
            <a href="https://gramota.ru/poisk?query={{ i|title }}&mode=slovari&dicts[]=42" target="_blank" style="color: #4285B4">{{ i }}</a>
        {% elif i in game.gorynych_user and i in game.gorynych_comp %}
            <b><a href="https://gramota.ru/poisk?query={{ i|title }}&mode=slovari&dicts[]=42" target="_blank" style="color: #138808">{{ i }}</a></b>
        {% elif i in game.gorynych_user %}
            <a href="https://gramota.ru/poisk?query={{ i|title }}&mode=slovari&dicts[]=42" target="_blank" style="color: #138808">{{ i }}</a>
        {% elif i in game.final_comp_word_list %}
            <b><a href="https://gramota.ru/poisk?query={{ i|title }}&mode=slovari&dicts[]=42" target="_blank">{{ i }}</a></b>
        {% else %}
            <a href="https://gramota.ru/poisk?query={{ i|title }}&mode=slovari&dicts[]=42" target="_blank">{{ i }}</a>
        {% endif %}
        {% empty %} Не составил ни одного слова
    {% endfor %}
    <p>Слова компьютера({{ game.final_comp_word_list|length }}):</p>
    {% for i in game.final_comp_word_list %}
        {% if i in game.words_without_repeating_user and i in game.words_without_repeating_comp %}
            <b><a href="https://gramota.ru/poisk?query={{ i|title }}&mode=slovari&dicts[]=42" target="_blank" style="color: #4285B4">{{ i }}</a></b>
        {% elif i in game.words_without_repeating_comp %}
            <a href="https://gramota.ru/poisk?query={{ i|title }}&mode=slovari&dicts[]=42" target="_blank" style="color: #4285B4">{{ i }}</a>
        {% elif i in game.gorynych_comp and i in game.gorynych_user %}
            <b><a href="https://gramota.ru/poisk?query={{ i|title }}&mode=slovari&dicts[]=42" target="_blank" style="color: #138808">{{ i }}</a></b>
        {% elif i in game.gorynych_comp %}
            <a href="https://gramota.ru/poisk?query={{ i|title }}&mode=slovari&dicts[]=42" target="_blank" style="color: #138808">{{ i }}</a>
        {% elif i in game.players_word_list %}
            <b><a href="https://gramota.ru/poisk?query={{ i|title }}&mode=slovari&dicts[]=42" target="_blank">{{ i }}</a></b>
        {% else %}
            <a href="https://gramota.ru/poisk?query={{ i|title }}&mode=slovari&dicts[]=42" target="_blank">{{ i }}</a>
        {% endif %}
        {% empty %} Компьютер не составил ни одного слова
    {% endfor %}

    {% if request.user == user %}
    <h4>{{ game.who_won.0 }}</h4>
    {% else %}
    <h4>{{ user }} {{ game.who_won.1 }}</h4>
    {% endif %}

    <p><a href="#" onclick="history.back();">Назад</a></p>
</body>
</html>