<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script>
    function confirmAction(){
      var confirmed = confirm("Начать новую игру?");
      return confirmed;
}
    </script>
    <title>Горыныч</title>
</head>
<body>
    <img src="static/img/gor{{ game.number_user }}.png" width="200">
    <h3>
    {% for i in game.deck %}
        {{ i }}
        {% endfor %}
    </h3>
    <form action="" method="post">{% csrf_token %}
        <input type="text" name="word" autocomplete="off" autofocus>
        {% if res %}
            <h6>{{ res }}</h6>
        {% endif %}
        <h6>
        {% for i in game.players_word_list %}
            {% if i in game.gorynych_user %}
            <a href="https://ru.wikipedia.org/wiki/{{ i|title }}" target="_blank" style="color:green">{{ i }}</a>
            {% else %}
                <a href="https://ru.wikipedia.org/wiki/{{ i|title }}" target="_blank">{{ i }}</a>
            {% endif %}
        {% endfor %}
        </h6>
        <button type="submit" name="add">ДОБАВИТЬ СЛОВО</button>
        <button type="submit" name="cancel">УБРАТЬ СЛОВО</button>
        <button type="submit" name="count">ПОСЧИТАТЬ СЛОВА</button>
        <button type="submit" name="check">ЗАКОНЧИТЬ ИГРУ</button>
        <button type="submit" name="end" onclick="return confirmAction()">НОВАЯ ИГРА</button>
        <button type="submit" name="doc">ПРАВИЛА ИГРЫ</button>
    </form>
</body>
</html>


