<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Правила игры</title>
    <link rel="icon" type="image/png" href="{% static 'img/gor1.png' %}">
</head>
<body>
    <h1>Правила игры</h1>
    <p>Слова должны быть существительными в единственном числе в именительном падеже.</p>
    <p>Нельзя использовать слова в уменьшительно-ласкательной форме, имена собственные, <br>
       аббревиатуры, сленг, а также использовать букву "и" вместо "й" и "е" вместо "ё".</p>
    <p>В начале игры вам даётся 3 головы Горыныча. Одна голова позволяет повторить одну<br>
        букву в слове. За каждые 20 придуманных слов, а также за каждое слово длиной более<br>
        5 букв вы будете получать одну голову, при условии, что у Горыныча в этот момент<br>
        будет меньше трёх голов. Если оба варианта прибавления головы произошли в один ход,<br>
        то головы не суммируются. Компьютер играет по таким же правилам.</p>
    <p>Вы можете нажать на слово и посмотреть информацию о нём в толковом словаре.</p>
    <p>В рейтинге игроков можно посмотреть статистику каждого игрока и его рекордную игру.</p>
    <p>Слова с повторами букв имеют зеленый цвет, а длинее 5 букв и без повторов - синий.<br>
       Слова, совпадающие у вас с компьютером, выделены жирным шрифтом.</p>
<p><a href="#" onclick="history.back();">Назад</a></p>
</body>
</html>