<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Статистика</title>
    <link rel="icon" type="image/png" href="{% static 'img/gor1.png' %}">
</head>
<body>
    <h1>{{ user }}</h1>
    <h2>Статистика игр</h2>
    <div style="text-align: center;">
        <table width="330" border="1" cellspacing="0" cellpadding="7" style="display: inline-block;">
        <tr>
            {% for i in stat %}
            <th width="270">Количество игр</th>
            <th width="60">{{i.number_of_games}}</th>
        </tr>
            <tr>
            <th width="270">Победы</th>
            <th width="60">{{i.victory}}</th>
            </tr>
            <tr>
            <th width="270">Ничьи</th>
            <th width="60">{{i.dead_heat}}</th>
            </tr>
            <tr>
            <th width="270">Поражения</th>
            <th width="60">{{i.defeat}}</th>
            </tr>
        {% endfor %}
        </table>
        <br>
        <h2>Рекорды</h2>
        <table width="330" border="1" cellspacing="0" cellpadding="7" style="display: inline-block;">
            <tr>
                <th width="270">Золотой</th>
                <th width="60">{{ list_rec.0 }}</th>
            </tr>
            <tr>
                <th width="270">Серебряный</th>
                <th width="60">{{ list_rec.1 }}</th>
            </tr>
            <tr>
                <th width="270">Бронзовый</th>
                <th width="60">{{ list_rec.2 }}</th>
            </tr>
        </table>
    </div>
<p><a href="#" onclick="history.back();">Назад</a></p>
</body>
</html>